<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>음악일기 | 일기 페이지</title>
    <style>
        .title{
            width: 800px;
            margin: auto;
            
        }
        .music{
            text-align: center;
        }
        .input-group{
            width: 800px;
            margin: auto;
        }
    </style>
</head>

<body>
    <h1 class="title">일기 제목<span style="font-size: 20px"> 작성자 : 김이름 </span></h1>
    <hr width="80%" >

    <div class="music">
        <img src="https://musicmeta-phinf.pstatic.net/album/007/267/7267342.jpg?type=r480Fll&v=20220222175914" alt="Not Image">
        <p>부럽지가 않어 - 장기하
    </div>

    <div class="input-group">
        <textarea class="form-control" rows="8" placeholder="내용을 입력해주세요" aria-label="With textarea"></textarea>
    </div>
</body>

</html>